body {
   background: rgb(26,26,26);
   background: linear-gradient(90deg, rgba(26,26,26,1) 19%, rgba(51,83,76,1) 43%, rgba(79,136,117,1) 58%, rgba(26,26,26,1) 79%);
    font-family: Arial, sans-serif;
    color: whitesmoke;
  }
  
  header {
      background: #333;
      color: white;
      padding: 10px 0;
  }
  
  nav ul {
      list-style-position: inside;
      padding: 0;
      text-align: center;
      margin: 0;
  }
  
  nav ul li {
    display: inline;
         margin: 0 15px;
  }
  
  nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
  }
  
  nav ul li a:hover {
      text-decoration: underline;
  }

  .projects{ 
    list-style-position: inside;
      padding: 0;
      margin: 0;
        }
  .projects li{
    display: inline;
    margin: 0;  }
 .projects li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
 .projects li a:hover{
        text-decoration: underline;
    }
  
  .avatar-container {
      text-align: center;
      padding: 50px 0;
  }
  
  .avatar {
      border-radius: 50%;
      width: 150px;
      height: 150px;
  }
  
  h1 {
      margin: 20px 0 0;
  }
  
  section {
      padding: 20px;
      text-align: center;
  }

  .img {display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    width: 282px;
    height: 282px;
    object-fit: fill;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    padding: 0;
    margin: 0;
    list-style:  none;
    padding-left: 0;
    }
  
  footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 5px;
      position: absolute;
      width: 100%;
      bottom: 10;
  }

  @media (max-width: 768px) {
    #navbar ul {
        flex-direction: column;
    }

    #navbar li {
        margin: 10px 0;
    }

    #welcome-section h1 {
        font-size: 1.8rem;
    }
  
